body {
    font-family: 'Poppins', sans-serif;
}

.text ul {
    position: relative;
    background-color: #f8e9d6;
    color: #4a3f35;
    font-size: 18px;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    list-style: none;
}

.text ul i {
    position: absolute;
    right: 10px;
    cursor: pointer;
    color: #e3342f;
}
